.root {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--text-primary);
  padding-block: 29.6px;
  padding-inline: 25px;
  transition: transform 0.4s ease-in-out;
}
.span {
  position: relative;
}

.span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #df2115;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}
.active .span::after {
  transform: scale(1);
}

.span::before {
  content: "";
  position: absolute;
  inset: 0 -5px;
  border-left: 1px solid #df2115;
  border-right: 1px solid #df2115;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

@media (hover: hover) {
  .root:focus-visible .span::before {
    transform: scale(1);
  }

  .root:hover {
    transform: scale(1.1);
  }
  .root:active {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1024) {
  .root {
    transform-origin: left;
    padding-block: 20px;
    font-size: 20px;
    text-align: right;
  }
}
