.root {
  position: relative;
  min-height: calc(100dvh - 80px);
  display: flex;
  align-items: center;
}

.image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100dvh;
  z-index: -1;
  object-fit: cover;
  object-position: right;
}

.title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: clamp(40px, 8vw, 110px);
  line-height: 100%;
  color: #fff;
  max-width: 986px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  z-index: 2;
}

.gray_btn {
  max-width: 360px;
}

.buttons_wrapper {
  margin-top: clamp(50px, 7.2dvw, 70px);
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.text {
  max-width: 940px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(18px, 3vw, 30px);
  line-height: 130%;
  color: #fff;
}

.red_btn {
  max-width: 460px;
}

.fire {
  position: absolute;
  top: 0;
  left: 0;
  object-position: top;
  max-width: 100%;
  width: 100%;
  z-index: -2;
}

@media screen and (width <= 1024px) {
  .root {
    min-height: unset;
    align-items: unset;
    flex-direction: column;
    padding-top: clamp(60px, 11.8dvw, 120px);
  }

  .image {
    position: relative;
    object-position: bottom;
    object-fit: contain;
    order: 1;
    height: unset;
    margin-top: -80px;
  }
}

@media screen and (width <= 768px) {
  .root {
    padding-top: 60px;
    flex-direction: column;
  }
  .buttons_wrapper {
    flex-direction: column;
  }
  .gray_btn,
  .red_btn {
    max-width: 100%;
  }
  .image {
    margin-top: -30px;
  }
}
