@import './fonts.css';

:root {
  --background-red: linear-gradient(144deg, #de1717 0%, #780d0d 100%);
  --font-family: "Roboto";
  --second-family: "Ebbe";
  --third-family: "HondaC";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-primary);
  overflow-x: hidden;
  font-style: normal;
  background: var(--background-color);
}

a,
button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

a:focus,
a:focus-visible,
a:active,
button:focus,
button:focus-visible,
button:active {
  outline: none;
}

footer {
  margin-top: auto;
}

.stop__scroll {
  overflow: hidden;
}
