.root {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .root {
    font-size: clamp(30px, 4.9vw, 50px);
    margin-bottom: clamp(30px, 4.9vw, 50px);
  }
}
