.root {
  backdrop-filter: blur(20px);
  background: rgba(41, 41, 41, 0.3);
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 5;
  min-height: 80px;
}

.root .container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .root .container {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .root .container {
    gap: 10px;
  }
}

